body{
	margin:0;
	padding:0;
	background:#fff;
	
}
.header {
    text-align: center;
	margin-top: 2em;
}
.container {
    padding-right: 5px;
    padding-left: 5px;
}
.logo h1{
    font-family: 'Montserrat', sans-serif;
     font-size: 3em;
     color: #000;
     display: inline-block;
     position:relative;
}
.logo h1 a{
    text-decoration:none;
    color: #000;
}
.logo h1 span {
    font-size: 12px;
    display: block;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 4px;
}
.logo h1  b {
    font-size: 8px;
    background: #ED0612;
    font-weight: normal;
    padding: 3px;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: -2px;
    color: #fff;
    line-height: 8px;
}
.head-t {
    margin: 1em 0;
}
.card li{
	display:inline-block;
}
.card li a{
	display:inline-block;
	color: #999;
    font-size: 0.9em;
	margin:0 0.5em;
}
.card li a i{
	margin-right:5px;
	color:   dodgerblue;
}
/*brand*/
@font-face{
    font-family: Lobster;
    src: url(../fonts/Lobster_1.3.otf);
}
.brand{
    color: dodgerblue;
    font-family: Lobster;
    font-size: 40px;
}
.brand1{
    color: gray;
    font-size: 35px;
    font-weight: bold;
}
/* navbar */
.nav-top ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:darkgray;
}
  
.nav-top  li{
    float: left;
    
}
  
.nav-top  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 7px;
    width:  90px;
}
  
.nav-top  li a:hover:not(.active) {
    background-color:#fff;
    color: #000;
    
}
  
.nav-top  .active {
    background-color:  dodgerblue;
    color: #fff;
    margin-right: 7px;
}
/* my profile */
.my-prof{
    padding: 14px 16px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}
.spec {
    text-align: center;
    margin-bottom: 3em;
}
.spec h3{
    font-size:3em;
	color: rgb(255, 75, 30);
	margin-bottom:0.5em;
}
.ser-t {
    text-align: center;
    margin: 0 auto;
    width: 20%;
    position: relative;
}
.ser-t b{
	width: 100%;
    height: 2px;
    display: block;
    background: #039445;
    margin-bottom: 3px;
}
.ser-t b.line{
	width: 80%;
	margin:0 auto;
}
.ser-t  span{
	width: 40px;
    height: 40px;
    display: block;
    background: #fff;
    position: absolute;
    top: -7px;
    left: 42%;  
}
.ser-t  span i{
	width: 20px;height: 20px;
    display: block;
    border: 2px solid #039445;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    -o-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
    margin-left: 0.7em;
}

.det {
    font: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
/*--social--*/
.contact{
    text-align: center;
   
}
.social-top li{
	display:inline-block;
}
.icon {
	border-radius: 100px;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	height: 35px;
	line-height: 37px;
	margin: 0 8px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 35px;
}

/* Circle */
.icon span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
	     -o-transition: all 0.2s;
	        transition: all 0.2s;
	width: 0;
}
.icon:hover span {
	width: 55px;
	height: 55px;
	border-radius: 100px;
	margin: -18px;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.github span {
	background-color: black;
}
.whatsapp span {
	background-color:green;
}
.envelope span {
    background-color: blue;
}

/* Icons */
.icon i {
	background: none;
	color: #000;
	height: 55px;
	left: 0;
	line-height: 55px;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 55px;
	z-index: 10;
}
.icon .fa-twitter {
	color: #4099ff;
}
.icon .fa-facebook {
	color: #3B5998;
}
.icon .fa-github {
	color: black;
}
.icon .fa-whatsapp {
	color: green;
}
.icon .fa-envelope {
    color:blue;
}
.icon:hover .fa-facebook,
.icon:hover .fa-twitter,
.icon:hover .fa-github,
.icon:hover .fa-whatsapp, 
.icon:hover .fa-envelope {
	color: white;
}
/*--social--*/